<div class="w-75 container">
  <div class="col-md-12">
    <div *ngIf="isSignedUp; else signupForm">
      <div class=" alert alert-success" role="alert">
        Your registration is successful. Please login!
      </div>
    </div>
  </div>
</div>

<ng-template #signupForm>
  <div class="w-75 container">
    <div class="col-md-12">

      <form [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate>
        <br>
        <h3>Register new user: </h3>
        <br>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" for="name">Name:</span>
          </div>
          <input type="text" class="form-control" id="name"
                 aria-label="name" aria-describedby="name"
                 placeholder="Insert user name" formControlName="name" required>
        </div>
        <div class="alert alert-warning" role="alert"
             *ngIf="userForm.get('name').invalid && (userForm.get('name').dirty || userForm.get('name').touched)">
          <div *ngIf="userForm.get('name').errors?.required">Cannot be empty</div>
          <div *ngIf="userForm.get('name').errors?.minlength">User name must be longer than 3 letters</div>
          <div *ngIf="userForm.get('name').errors?.maxlength">User name must be shorter than 50 letters</div>
        </div>


        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" for="username">Username:</span>
          </div>
          <input type="text" class="form-control" id="username"
                 aria-label="username" aria-describedby="username"
                 placeholder="Insert username name" formControlName="username" required>
        </div>
        <div class="alert alert-warning" role="alert"
             *ngIf="userForm.get('username').invalid && (userForm.get('username').dirty || userForm.get('username').touched)">
          <div *ngIf="userForm.get('username').errors?.required">Cannot be empty</div>
          <div *ngIf="userForm.get('username').errors?.minlength">User username must be longer than 3 letters</div>
          <div *ngIf="userForm.get('username').errors?.maxlength">User username must be shorter than 50 letters</div>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" for="email">Email:</span>
          </div>
          <input type="email" class="form-control" id="email"
                 aria-label="email" aria-describedby="email"
                 placeholder="Insert email" formControlName="email" required>
        </div>
        <div class="alert alert-warning" role="alert"
             *ngIf="userForm.get('email').invalid && (userForm.get('email').dirty || userForm.get('email').touched)">
          <div *ngIf="userForm.get('email').errors?.required">Cannot be empty</div>
          <div *ngIf="userForm.get('email').errors?.email">Inncorect email</div>
          <div *ngIf="userForm.get('email').errors?.maxlength">User email must be shorter than 50 letters</div>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" for="password">Password:</span>
          </div>
          <input type="password" class="form-control" id="password"
                 aria-label="password" aria-describedby="password"
                 placeholder="Insert password" formControlName="password" required>
        </div>
        <div class="alert alert-warning" role="alert"
             *ngIf="userForm.get('password').invalid && (userForm.get('password').dirty || userForm.get('password').touched)">
          <div *ngIf="userForm.get('password').errors?.required">Cannot be empty</div>
          <div *ngIf="userForm.get('password').errors?.minlength">User username must be longer than 6 letters</div>
          <div *ngIf="userForm.get('password').errors?.maxlength">User password must be shorter than 100 letters</div>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <button type="button" class="btn btn-outline-success" type="submit">Register new user</button>
          </div>
        </div>

        <div class="alert alert-warning" role="alert"
             *ngIf="errorMessage">
          Signup failed!
          {{errorMessage.error.message}}
        </div>

      </form>

    </div>
  </div>
</ng-template>
