<div class="container text-center">
  <!--<button type="button" class="btn btn-success" (click)="onSubmit()">Success</button>-->
</div>

<div class="container" *ngIf="allBundles$">

  <div class="row">
    <div class="alert alert-danger col-md-6" role="alert">
      Paid: {{sumPaid(allBundles$)}}
    </div>
    <div class="alert alert-success col-md-6" role="alert">
      Sold: {{sumSold(allBundles$)}}
    </div>
  </div>

  <div class="row input-group col-md-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Sort by:</span>
    </div>
    <select class="custom-select" [(ngModel)]="defaultValue"
            (ngModelChange)="setSortAndUser($event)">
      <option *ngFor="let kind of sort" [value]="kind.value">{{kind.name}}</option>
    </select>
  </div>

  <br>

  <table class="table table-hover table-sm">
    <thead class="thead-light">
    <tr>
      <th style="width: 50px" scope="col">#</th>
      <th style="width: 350px" scope="col">Name</th>
      <th style="width: 160px" scope="col">Date Buy</th>
      <th style="width: 100px" scope="col">Cost USD</th>
      <th style="width: 100px" scope="col">Cost PLN</th>
      <th style="width: 100px" scope="col">Sell</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody *ngFor="let bundle of allBundles$, let i = index">
    <tr>
      <th scope="row">{{i + 1}}</th>
      <td>{{bundle.name}}</td>
      <td>{{bundle.dateBuy}}</td>
      <td>{{bundle.costUSD}}</td>
      <td>{{bundle.costPLN}}</td>
      <td>{{sum(bundle)}}</td>
      <td>
        <a class="btn btn-outline-primary btn-sm" data-toggle="collapse" href="#{{'games' + i}}" role="button"
           aria-expanded="false"
           aria-controls="i">SHOW</a>
      </td>
      <td>
        <button type="button" class="btn btn-outline-warning btn-sm" (click)="modify(bundle)">MODIFY</button>
      </td>
      <td>
        <button type="button" class="btn btn-outline-danger btn-sm" (click)="remove(bundle)">DELETE</button>
      </td>
    </tr>
    <tr class="collapse multi-collapse" id="{{'games' + i}}" *ngFor="let game of bundle.gameList, let j = index">
      <td></td>
      <td colspan="4"> {{game.name}} </td>
      <td>{{game.salePrcie}}</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    </tbody>
  </table>
  <div>
    <button type="button" class="btn btn-outline-success" routerLink="/bundle/add" routerLinkActive="active">Add new
      bundle
    </button>
  </div>
</div>

