<div class="w-75 container">
  <div class="col-md-12 order-md-1">

    <form [formGroup]="bundleForm" (ngSubmit)="onSubmit()">
      <h3> Add new Bundle: </h3>

      <div class="mb-3">
        <label for="name">Bundle name:</label>
        <input type="text" class="form-control" id="name"
               placeholder="Insert bundle name"
               value="bundleForm.name"
               formControlName="name">
      </div>

      <div class="mb-3">
        <label for="dateBuy">Bundle date buy:</label>
        <input type="date" class="form-control" id="dateBuy" placeholder="Insert bundle date buy"
               formControlName="dateBuy">
      </div>

      <div class="mb-3">
        <label for="costUSD">Bundle cost USD:</label>
        <input type="number" class="form-control" id="costUSD" placeholder="Insert bundle cost USD"
               formControlName="costUSD">
      </div>

      <div class="mb-3">
        <label for="costPLN">Bundle cost PLN:</label>
        <input type="number" class="form-control" id="costPLN" placeholder="Insert bundle cost PLN"
               formControlName="costPLN">
      </div>

      <div>
        <button class="btn btn-outline-success" type="submit">Add new bundle</button>
      </div>

    </form>

  </div>
</div>
