<div class="w-75 container">
  <div class="col-md-12">
    <form [formGroup]="gameForm" (ngSubmit)="onSubmit()">

      <br>
      <h3>Modify Game:</h3>
      <br>

      <div class="mb-3">
        <label for="name">Game name:</label>
        <input type="text" class="form-control" id="name" placeholder="Insert game name"
               formControlName="name">
      </div>

      <div class="mb-3">
        <label for="price">Game price:</label>
        <input type="number" class="form-control" id="price" placeholder="Insert game price"
               formControlName="price">
      </div>

      <div>
          <button class="btn btn-outline-warning" type="submit">Modify game</button>
      </div>

    </form>

  </div>
</div>

