<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">Cost+</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" routerLink="" routerLinkActive="active">Home</a>
    <a class="p-2 text-dark" routerLink="/bundle" routerLinkActive="active" *ngIf="authority">Bundles</a>
    <a class="p-2 text-dark" routerLink="/profile" routerLinkActive="active">Profile</a>
  </nav>
  <a *ngIf="!authority" class="btn btn-outline-primary" routerLink="/login">Log in</a>
  <a *ngIf="authority" class="btn btn-outline-primary" (click)="logout()" routerLink="/">Log out</a>
  <a *ngIf="!authority" class="btn btn-outline-primary" routerLink="/signup">Sign up</a>
</div>

<router-outlet></router-outlet>
