<div class="w-75 container">
  <div class="col-md-12">
    <form [formGroup]="modifyForm" (ngSubmit)="onSubmit()">

      <br>
      <h3>Modify Bundle:</h3>
      <br>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="name">Bundle name:  </span>
        </div>
        <input type="text" class="form-control" placeholder="Insert bundle name" aria-label="name" aria-describedby="name"
               formControlName="name">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="dateBuy">Bundle date buy:</span>
        </div>
        <input type="text" class="form-control" placeholder="Insert bundle date buy" aria-label="dateBuy" aria-describedby="dateBuy"
               formControlName="dateBuy">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="costUSD">Bundle cost USD:</span>
        </div>
        <input type="text" class="form-control" placeholder="Insert bundle cost USD" aria-label="costUSD" aria-describedby="costUSD"
               formControlName="costUSD">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="costPLN">Bundle cost PLN:</span>
        </div>
        <input type="text" class="form-control" placeholder="Insert bundle cost PLN" aria-label="costPLN" aria-describedby="costPLN"
               formControlName="costPLN">
      </div>

        <div >
          <button class="btn btn-outline-warning" type="submit">Modify bundle</button>
        </div>

    </form>

    <br>
    <h3>Bundle's games:</h3>
    <br>

    <table class="table table-hover table-sm" *ngIf="bundle$">
      <thead class="thead-light">
      <tr>
        <th style="width: 50px" scope="col">#</th>
        <th style="width: 600px" scope="col">Game name:</th>
        <th style="width: 150px" scope="col">Sale price:</th>
        <th style="width: 100px" scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody *ngFor="let game of bundle$.gameList, let i = index">
      <tr>
        <th scope="row">{{i + 1}}</th>
        <td>{{game.name}}</td>
        <td>{{game.salePrcie}}</td>
        <td></td>
        <td></td>
        <td>
          <button type="button" class="btn btn-outline-warning btn-sm" (click)="modifyGame(game.id)">MODIFY</button>
        </td>
        <td>
          <button type="button" class="btn btn-outline-danger btn-sm" (click)="removeGame(game.id)">DELETE</button>
        </td>

      </tr>
      </tbody>
    </table>

    <div >
      <button type="button" class="btn btn-outline-success" (click)="addNewGame(bundle$.id)">
        Add game
      </button>
    </div>

    <br>

  </div>
</div>

