<div class="w-75 container">
  <div class="col-md-12 order-md-1">

    <form [formGroup]="gameForm" (ngSubmit)="onSubmit()">
      <h3> Add new game: </h3>

      <div class="mb-3">
        <label for="name">Game name:</label>
        <input type="text" class="form-control" id="name"
               placeholder="Insert bundle name"
               value="bundleForm.name"
               formControlName="name">
      </div>

      <div class="mb-3">
        <label for="price">Sale price:</label>
        <input type="nmber" class="form-control" id="price" placeholder="Insert sale price"
               formControlName="price">
      </div>


      <div>
          <button class="btn btn-outline-success" type="submit">Add new game</button>
      </div>

    </form>

  </div>
</div>
